* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: white;
	font-family: 'Geometria', sans-serif;
}

#messages {
	list-style: none;
	margin: 0;
	padding: 0;
}

#messages li {
	margin-bottom: 20px;
}

#main {
	color: black;
	max-width: 400px;
	margin: 25px auto;
}

#main form {
	display: grid;
	gap: 10px;
	margin-top: 20px;
}

#main label {
	display: block;
	font-weight: bold;
}

#main input[type="text"],
#main input[type="number"] {
	width: 100%;
}

#main h2 {
	margin-bottom: 0;
	border-bottom: 1px black dotted;
}

#main p {
	margin: 0;
	font-size: 14px;
}

#main .help {
	font-size: 12px;
	color: rgba(0,0,0,.75);
	margin: 0;
}

#main #followerControls {
	margin-top: 10px;
	display: grid;
	gap: 10px;
}